  <!-- Session : Search -->
  <app-search-items></app-search-items>

  
    <!-- ======= Section : popular Categories ======= -->
    <section class="counts section-bg">
      <div class="container">

        <h5 class="card-title">Populaires categories</h5>

        
        <!--get categorie  list from comp:welcome-categorie-popul  -->
        <app-welcome-categorie-popul></app-welcome-categorie-popul>

        

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Section : popular Ville ======= -->
    <section class="counts section-bg">
      <div class="container">

        <h5 class="card-title">Populaires Villes</h5>

        
        <!--get categorie  list from comp:welcome-categorie-popul  -->
        <app-welcome-ville-popul></app-welcome-ville-popul>
        

      </div>
    </section><!-- End Counts Section -->

    