<!-- assets/temp-img/images.jpg -->
<div class="container">
   
<div class="card ">
    <div class="card-header">
        Categories/....  
     
    </div>
    <div class="row">

        <!-- Card of Vente Details  -->
        <div class="col-sm-6">
          <app-announces-details-ventecard></app-announces-details-ventecard>
        </div>

        <!-- Card of Boutique details -->
        <div class="col-sm-6">
        <app-announces-details-boutiquecard></app-announces-details-boutiquecard>
        </div>
      </div>
  
  </div>
</div>