<!-- assets/temp-img/images.jpg -->
<div class="container">
    <div class="card-header">
        Boutiques/....  
     
    </div>
    <div class="card ">
       
        <!-- <div class="row"> -->
    
            <!-- Card of Vente Details  -->
            <!-- <div class="col-sm-6">
              <app-announces-details-ventecard></app-announces-details-ventecard>
            </div> -->
    
            <!-- Card of Boutique details -->
            <!-- <div class="col-sm-6"> -->
            <app-boutiques-details-card></app-boutiques-details-card>
            <!-- </div> -->
          <!-- </div> -->

          <app-boutiques-details-ventescard></app-boutiques-details-ventescard>
      
      </div>
    </div>